<?xml version="1.0"?>

<config>
  <modules>
    <Dito_DitoTracking>
      <version>0.1.0</version>
    </Dito_DitoTracking>
  </modules>

  <global>
    <helpers>
      <ditotracking>
        <class>Dito_DitoTracking_Helper</class>
      </ditotracking>
    </helpers>
    <models>
      <ditotracking>
        <class>Dito_DitoTracking_Model</class>
      </ditotracking>
    </models>

    <events>
      <controller_action_predispatch_checkout_cart_add>
        <observers>
          <Dito_DitoTracking_log_cart_add>
            <class>Dito_DitoTracking_Model_Observer</class>
            <method>logCartAdd</method>
          </Dito_DitoTracking_log_cart_add>
        </observers>
      </controller_action_predispatch_checkout_cart_add>

      <sales_order_place_after>
        <observers>
          <Dito_DitoTracking_order_observer>
            <class>Dito_DitoTracking_Model_Observer</class>
            <method>export_new_order</method>
          </Dito_DitoTracking_order_observer>
        </observers>
      </sales_order_place_after>

      <sales_order_save_after>
        <observers>
          <Dito_DitoTracking_order_observer>
            <class>Dito_DitoTracking_Model_Observer</class>
            <method>check_order_status</method>
          </Dito_DitoTracking_order_observer>
        </observers>
      </sales_order_save_after>
    </events>
  </global>

  <frontend>
    <layout>
      <updates>
        <DitoTracking>
          <file>ditotracking.xml</file>
        </DitoTracking>
      </updates>
    </layout>

    <routers>
      <ditotracking>
        <use>standard</use>
        <args>
          <module>Dito_DitoTracking</module>
          <frontName>ditotracking</frontName>
        </args>
      </ditotracking>
    </routers>
  </frontend>

  <default>
    <ditotracking_options>
      <track_config>                
        <order_status>processing</order_status>   
      </track_config>      
    </ditotracking_options>
  </default>

  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <ditotracking_options>
                      <title>Dito Tracking</title>
                    </ditotracking_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
